<form method="POST" action="/novo-usuario">
    Nome: <br>
    <input type="text" name="name" placeholder="Digite seu nome"><br><br>
    Idade: <br>
    <input type="number" name="age" placeholder="Digite sua idade"><br><br>
    Email: <br>
    <input type="email" name="email" placeholder="Digite seu email"><br><br>

    <input type="submit" value="Cadastrar" >
</form>

<h1>Pagina Principal</h1>

<ul>
{{#users}}
    <li>{{name}} - idade: {{age}} <a href="/usuarios/{{_id}}">+1 ano de vida</a></li>
{{/users}}
</ul>
